{% extends "base.jinja" %}
{% block html_class %}
  h-full
{% endblock html_class %}

{% block content %}
  <section class="grid min-h-full place-items-center {{ theme }}">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
      <div class="mx-auto max-w-screen-sm text-center">
        <img class="mb-4" src="{{ url_for('static', filename = 'img/sad.gif') }}" alt="Sad" />
        <p class="mb-4 text-3xl tracking-tight font-bold text-primary-600 md:text-4xl dark:text-primary-500">
          {{ forgot_text }}
        </p>
        <a href="{{ url_for('auth.login') }}" class="mb-4 text-lg font-light hover:underline text-primary-600 dark:text-primary-500">back</a>
      </div>
    </div>
  </section>
{% endblock content %}
